header {
    background: #FBEBB5;
}

nav {
    display: flex;
    height: 100px;
    align-items: center;
    padding-right: 100px;
    justify-content: end;
}

ul {
    gap: 75px;
    display: flex;
    margin-right: 100px;
    list-style: none;
}

ul li {

}

ul li a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.icons__links {
    gap: 45px;
    display: flex;
}